@import "sass-rem";
@import './Base.scss';

.authToggle {
  display: flex;
  justify-content: center;
  gap: rem-convert(10px);
  margin-top: rem-convert(10px);
}

.authForm {
  display: flex;
  flex-direction: column;
  gap: rem-convert(10px);
  max-width: rem-convert(400px);
  margin: rem-convert(20px auto);

  .authError {
    color: $redPigmentColor;
    font-size: rem-convert(14px);
  }

  .inputLogin,
  .inputPass {
    padding: rem-convert(10px);
  }
}
