@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "sass-rem";

$sunflowerColor: #ffc312;
$radiantYellowColor: #f79f1f;
$puffinsBillColor: #ee5a24;
$redPigmentColor: #ea2027;
$energosColor: #c4e538;
$androidGreenColor: #a3cb38;
$pixelatedGrassColor: #009432;
$turkishAquaColor: #006266;
$blueMartinaColor: #12cbc4;
$mediterraneanSeaColor: #1289a7;
$merchantMarineBlueColor: #0652dd;
$leaguesUnderTheSeaColor: #1b1464;
$lavenderRoseColor: #fda7df;
$lavenderTeaColor: #d980fa;
$forgottenPurpleColor: #9980fa;
$circumorbitalRingColor: #5758bb;
$baraRedColor: #ed4c67;
$veryBerryColor: #b53471;
$hollyhockColor: #833471;
$magentaPurpleColor: #6f1e51;

$borderColor: #ddd;
$grayTextColor: #666;

html {
  font-size: 16px;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: rem-convert(16px);
}

.preloader {
  background-color: #fff;

  width: 100%;
  height: 100%;

  position: fixed;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  margin: auto;

  &.hide {
    display: none;
  }

  .preloaderWrap {
    width: rem-convert(150px);
    height: rem-convert(150px);

    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    margin: auto;

    .leaf {
      width: 150px;

      aspect-ratio: 1/1;

      filter: grayscale(1);

      animation-name: leaf;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-fill-mode: both;
      animation-timing-function: ease-in-out;
    }

    @keyframes leaf {
      0% {
        filter: grayscale(1);
      }
      55% {
        filter: grayscale(0);
      }
      100% {
        filter: grayscale(1);
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

input {
  font-size: rem-convert(14px);
  line-height: rem-convert(14px);
  border: rem-convert(1px) solid $borderColor;
}

.btn {
  font-size: rem-convert(14px);
  line-height: rem-convert(14px);
  color: #fff;

  padding: rem-convert(10px 20px);
  box-sizing: border-box;
  border: none;
  border-radius: rem-convert(5px);

  cursor: pointer;

  &.btnSubmit {
    background: $pixelatedGrassColor;
  }

  &.btnWatering {
    background: $merchantMarineBlueColor;
  }

  &.btnCancel {
    background: $redPigmentColor;

    font-weight: 100;
  }

  &.btnDelete {
    background: $redPigmentColor;

    font-size: rem-convert(10px);
    font-weight: 100;
  }

  &.btnEdit {
    background: $radiantYellowColor;
  }

  &.btnLogOut {
    background: $redPigmentColor;

    position: absolute;
    top: rem-convert(4px);
    right: rem-convert(0px);
  }

  &.btnDotsMenu {
    padding: rem-convert(5px 10px);

    img {
      width: 14px;

      object-fit: contain;
    }
  }

  &.btnToggle {
    color: $grayTextColor;
  }
}

@media (max-width: 616px) {
  html {
    font-size: 2.5vw;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 3.8vw;
  }

  .topBar {
    .btn {
      &.btnSubmit {
        width: 32%;
      }
    }
  }
}