@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "sass-rem";

$sunflowerColor: #ffc312;
$radiantYellowColor: #f79f1f;
$puffinsBillColor: #ee5a24;
$redPigmentColor: #ea2027;
$energosColor: #c4e538;
$androidGreenColor: #a3cb38;
$pixelatedGrassColor: #009432;
$turkishAquaColor: #006266;
$blueMartinaColor: #12cbc4;
$mediterraneanSeaColor: #1289a7;
$merchantMarineBlueColor: #0652dd;
$leaguesUnderTheSeaColor: #1b1464;
$lavenderRoseColor: #fda7df;
$lavenderTeaColor: #d980fa;
$forgottenPurpleColor: #9980fa;
$circumorbitalRingColor: #5758bb;
$baraRedColor: #ed4c67;
$veryBerryColor: #b53471;
$hollyhockColor: #833471;
$magentaPurpleColor: #6f1e51;

$borderColor: #ddd;
$grayTextColor: #666;

html {
  font-size: 16px;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: rem-convert(16px);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.btn {
  font-size: rem-convert(14px);
  padding: rem-convert(10px 20px);
  color: #fff;
  border: none;
  border-radius: rem-convert(5px);
  cursor: pointer;

  &.btnSubmit {
    background: $pixelatedGrassColor;
  }

  &.btnWatering {
    background: $merchantMarineBlueColor;
  }

  &.btnDelete {
    background: $redPigmentColor;
  }

  &.btnEdit {
    background: $radiantYellowColor;
  }

  &.btnLogOut {
    background: $redPigmentColor;

    position: absolute;
    top: rem-convert(20px);
    right: rem-convert(20px);
  }
}

@media (max-width: 620px) {
    html {
        font-size: 2.58vw;
    }
}

@media (max-width: 414px) {
    html {
        font-size: 2.2vw;
    }
}