@import "sass-rem";
@import './Base.scss';

.plantListWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .plantWrap {
        display: flex;
        align-items: flex-start;
        position: relative;

        width: 49%;

        margin-top: rem-convert(20px);

        border: rem-convert(1px) solid $borderColor;
        border-radius: rem-convert(10px);
        padding: rem-convert(20px);
        box-sizing: border-box;

        .plantInfo {
            width: 100%;

            hr {
                margin-top: rem-convert(15px);
                margin-bottom: rem-convert(15px);
            }

            p {
                margin: 0;
            }

            .plantName {
                width: calc(100% - rem-convert(200px));

                margin-top: rem-convert(5px);

                font-size: rem-convert(24px);
                line-height: rem-convert(24px);
            }

            .aboutPlant {
                display: flex;
                flex-direction: row;

                width: 100%;

                margin-top: rem-convert(20px);

                .photoInfo {
                    width: rem-convert(170px);

                    .dateOfAppearance {
                        font-size: rem-convert(14px);
                        line-height: rem-convert(14px);

                        margin-top: rem-convert(5px);
                    }

                    .plantPhoto {
                        width: rem-convert(150px);

                        flex-shrink: 0;

                        object-fit: cover;

                        border-radius: rem-convert(5px);

                        aspect-ratio: 3/4;
                    }
                }

                .textInfos {
                    width: calc(100% - rem-convert(170px));

                    details {
                        margin-top: rem-convert(10px);

                        .wateringList {
                            margin-top: rem-convert(10px);
                            padding-left: rem-convert(20px);
                        }
                    }

                    .notesBlock {
                        h4 {
                            font-size: rem-convert(14px);
                            line-height: rem-convert(14px);
                        }

                        .notesEmpty {
                            font-size: rem-convert(13px);
                            line-height: rem-convert(13px);
                            color: $grayTextColor;

                            margin-top: rem-convert(10px);
                        }

                        .notesList {
                            list-style: none;

                            padding-left: 0;
                            margin-top: rem-convert(15px);

                            .notesItem {
                                display: flex;
                                justify-content: space-between;
                                align-items: flex-start;
                                gap: rem-convert(8px);

                                margin-top: rem-convert(10px);

                                .notesText {
                                    font-size: rem-convert(14px);
                                    line-height: rem-convert(14px);
                                }

                                .notesDate {
                                    font-size: rem-convert(11px);
                                    line-height: rem-convert(11px);
                                    color: $grayTextColor;

                                    margin-top: rem-convert(5px);
                                }

                                .btn.btnDelete {
                                    padding: rem-convert(4px 8px);
                                }
                            }
                        }

                        .notesMore {
                            margin-top: rem-convert(4px);

                            summary {
                                cursor: pointer;
                                font-size: rem-convert(13px);
                                line-height: rem-convert(13px);
                                color: $grayTextColor;
                            }
                        }

                        .notesAdd {
                            display: flex;
                            gap: rem-convert(8px);

                            margin-top: rem-convert(10px);

                            .notesInput {
                                flex: 1;

                                padding: rem-convert(6px 8px);
                            }

                            .btnSubmit {
                                padding: rem-convert(6px 10px);
                            }
                        }
                    }
                }
            }


            .mainForm {
                .mainForm_wrap {
                    display: flex;
                    flex-wrap: wrap;
                    gap: rem-convert(10px);

                    .nameAndDate {
                        width: 100%;

                        display: flex;
                        flex-wrap: wrap;
                        gap: rem-convert(10px);

                        .dateLabel,
                        .nameLabel {
                            display: flex;
                            flex-direction: column;
                        }
                    }
                }
            }

            .inputPlantName,
            .plantDate {
                padding: rem-convert(10px);
            }
        }

        .btnsWrap {
            display: flex;
            flex-direction: row;
            gap: rem-convert(10px);

            position: absolute;
            top: rem-convert(20px);
            right: rem-convert(20px);
        }
    }
}


@media (max-width: 1216px) {
    .plantListWrap {
        .plantWrap {
            width: 100%;
        }
    }
}

@media (max-width: 480px) {
    .plantListWrap {
        .plantWrap {
            .btnsWrap {
                flex-direction: column;
            }

            .plantInfo {
                .plantName {
                    width: 82%;

                    margin-top: 0;
                }

                .aboutPlant {
                    .textInfos {
                        width: 40%;

                        .notesBlock {
                            margin-top: 100%;
                            margin-left: rem-convert(-170px);
                            width: 250%;
                        }
                    }
                }
            }
        }
    }
}