@import "sass-rem";
@import './Base.scss';


.mainForm {
  .mainForm_wrap {
    display: flex;
    flex-wrap: wrap;
    gap: rem-convert(10px);

    .nameAndDate {
      display: flex;
      flex-wrap: wrap;
      gap: rem-convert(10px);

      .dateLabel,
      .nameLabel {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .modalButtons {
    display: flex;
    justify-content: flex-end;
    gap: rem-convert(10px);
    margin-top: rem-convert(20px);
  }
}

.inputPlantName,
.plantDate {
  padding: rem-convert(10px);
}
