@import "sass-rem";
@import './Base.scss';

.plantListWrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: rem-convert(15px);

    margin-top: rem-convert(25px);

    .plantWrap {
        display: flex;
        align-items: flex-start;
        position: relative;

        width: 32.7%;

        border-radius: rem-convert(10px);
        padding: rem-convert(20px);
        box-sizing: border-box;

        box-shadow: rem-convert(0px 0px 5px) rgba(0, 0, 0, 0.1);

        .plantInfo {
            width: 100%;

            hr {
                margin-top: rem-convert(15px);
                margin-bottom: rem-convert(15px);
            }

            p {
                margin: 0;
            }

            .plantName {
                width: calc(100% - rem-convert(110px));

                margin-top: rem-convert(5px);

                font-size: rem-convert(24px);
                line-height: rem-convert(24px);
            }

            .aboutPlant {
                display: flex;
                flex-direction: row;

                width: 100%;

                margin-top: rem-convert(20px);

                .photoInfo {
                    width: rem-convert(170px);

                    .dateOfAppearance {
                        font-size: rem-convert(14px);
                        line-height: rem-convert(14px);

                        margin-top: rem-convert(5px);
                    }

                    .plantPhoto {
                        width: rem-convert(150px);

                        flex-shrink: 0;

                        object-fit: cover;

                        border-radius: rem-convert(5px);

                        aspect-ratio: 3/4;
                    }
                }

                .textInfos {
                    width: calc(100% - rem-convert(170px));

                    details {
                        margin-top: rem-convert(10px);

                        .wateringList {
                            margin-top: rem-convert(10px);
                            padding-left: rem-convert(20px);

                            .btn.btnDelete {
                                padding: rem-convert(2px 4px);
                                
                                margin-left: rem-convert(10px);
                            }
                        }
                    }

                    .notesBlock {
                        h4 {
                            font-size: rem-convert(14px);
                            line-height: rem-convert(14px);
                        }

                        .notesEmpty {
                            font-size: rem-convert(13px);
                            line-height: rem-convert(13px);
                            color: $grayTextColor;

                            margin-top: rem-convert(10px);
                        }

                        .notesList {
                            list-style: none;

                            padding-left: 0;
                            margin-top: rem-convert(15px);

                            .notesItem {
                                display: flex;
                                justify-content: space-between;
                                align-items: flex-start;
                                gap: rem-convert(8px);

                                margin-top: rem-convert(10px);

                                .notesText {
                                    font-size: rem-convert(14px);
                                    line-height: rem-convert(14px);
                                }

                                .notesDate {
                                    font-size: rem-convert(11px);
                                    line-height: rem-convert(11px);
                                    color: $grayTextColor;

                                    margin-top: rem-convert(5px);
                                }

                                .btn.btnDelete {
                                    padding: rem-convert(2px 4px);
                                }
                            }
                        }

                        .notesMore {
                            margin-top: rem-convert(4px);

                            summary {
                                cursor: pointer;
                                font-size: rem-convert(13px);
                                line-height: rem-convert(13px);
                                color: $grayTextColor;
                            }
                        }

                        .notesAdd {
                            display: flex;
                            gap: rem-convert(8px);

                            margin-top: rem-convert(10px);

                            .notesInput {
                                flex: 1;

                                padding: rem-convert(6px 8px);
                            }

                            .btnSubmit {
                                padding: rem-convert(6px 10px);
                            }
                        }
                    }
                }
            }


            .mainForm {
                .mainForm_wrap {
                    display: flex;
                    flex-wrap: wrap;
                    gap: rem-convert(10px);

                    .nameAndDate {
                        width: 100%;

                        display: flex;
                        flex-wrap: wrap;
                        gap: rem-convert(10px);

                        .dateLabel,
                        .nameLabel {
                            display: flex;
                            flex-direction: column;
                        }
                    }
                }
            }

            .inputPlantName {
                padding: rem-convert(10px);
            }

            .plantDate {
                padding: rem-convert(9px);
            }
        }

        .btnsWrap {
            background-color: white;
            box-shadow: rem-convert(0px 0px 0px 5px) white;

            display: flex;
            flex-direction: row;
            gap: rem-convert(10px);

            position: absolute;
            top: rem-convert(20px);
            right: rem-convert(20px);

            &.btnsWrapEditing {
                top: initial;
                right: initial;
                bottom: rem-convert(20px);
                left: rem-convert(20px);
            }
        }
    }
}


@media (max-width: 1750px) {
    .plantListWrap {
        .plantWrap {
            width: 49%;
        }
    }
}

@media (max-width: 1216px) {
    .plantListWrap {
        .plantWrap {
            width: 100%;

            input {
                &.fileLoad {
                    width: 100%;
                }
            }

            .btnsWrap {
                &.btnsWrapEditing {
                    position: relative;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .plantListWrap {
        .plantWrap {
            .btnsWrap {
                &.btnsWrapEditing {
                    width: 100%;
                }

                .btn {
                    padding: rem-convert(10px 10px);
                }
            }

            .plantInfo {
                .plantName {
                    width: 77%;

                    margin-top: 0;
                }

                .nameLabel {
                    width: 61%;
                }

                .dateLabel {
                    width: 36%;
                }

                .aboutPlant {
                    .photoInfo {
                         .dateOfAppearance {
                            line-height: rem-convert(18px);
                         }
                    }
                    .textInfos {
                        position: relative;
                        width: 43%;

                        hr {
                            display: none;
                        }

                        .aboutWatering {
                            width: 120%;

                            position: absolute;
                            top: 0%;
                            left: 0%;
                        }

                        .notesBlock {
                            margin-top: 60vw;
                            margin-left: rem-convert(-170px);
                            width: 232%;
                        }
                    }
                }
            }
        }
    }
}